<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDNIW5pXfdHyKnoNZulkybxiNzTCglrrg4</string>
	<key>GCM_SENDER_ID</key>
	<string>895894180005</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.pharmacyWarehouseStoreMobile</string>
	<key>PROJECT_ID</key>
	<string>medhub-d9cfb</string>
	<key>STORAGE_BUCKET</key>
	<string>medhub-d9cfb.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:895894180005:ios:b3296ea5e773ec84cf7d4c</string>
</dict>
</plist>